<table class="table" id="transaction-table">
    <thead>
        <tr>
            <th scope="col">Sender</th>
            <th scope="col">Recipient</th>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Currency</th>
            <th scope="col">Time</th>
            <th scope="col">Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for t in transactions %}
        <tr class="{% if t.type == 'DEBIT' %}table-light{% endif %}">            
            <td>{{t.sender.first_name}}</td>
            <td>{{t.recipient.first_name}}</td>
            <td>{% if t.type == 'DEBIT' %}
                <i class="fa-solid fa-caret-down text-danger mr-2"></i>
                {% else %}
                <i class="fa-solid fa-caret-up text-success mr-2"></i>
                {% endif %}
                {{t.type}}</td>
            <td>{{t.amount}}</td>
            <td>{{t.datetime}}</td>
            <td>{{t.currency}}</td>
            <td>{{wallet.currency}} {{t.balance}}</td>
        </tr>
       {% endfor %}
    </tbody>
</table>